@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  color: #0a0a0a;
}

input {
  color: white;
}

select {
  color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none !important;
  border: none !important;
  color: white !important;
}

a:hover {
  opacity: 80% !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
