* {
  font-family: var(--font-montserrat), sans-serif;
}
.card-img {
  position: relative;
  transition:
    transform 0.3s ease,
    filter 0.3s ease !important;
  filter: brightness(1) !important;
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.card-img:hover {
  transform: scale(1.02) !important;
  filter: brightness(1.8) !important;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  transition: background 0.3s ease;
}

.card-img:hover + .card-img-overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
}

.card-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
}

.custom-modal .modal-content {
  background: linear-gradient(to bottom, #3f1111, #741010c3);
  border: none;
}

.custom-modal .modal-header,
.modal-footer {
  border: none;
}

.btn-close {
  background-color: rgba(255, 255, 255, 0.536) !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.text-white {
  color: white !important;
}

.modal-title {
  font-size: 2rem;
  position: relative;
  display: inline-block;
}

.modal-title::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
}
