@import '../../globals.css';

.navbar {
  background: var(--navbar-background);
}

.navbar-nav {
  font-size: 1.3rem;
  color: white !important;
  opacity: 1;
}

.form-check-label {
  color: white !important;
}

.navbar-brand img {
  max-height: 64px;
  object-fit: contain;
}
