.navbar {
    background: linear-gradient(to right, #3f1111, #741010c3);
    color: white;
    font-weight: 400 !important;
    font-style: normal !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  
  .navbar-links {
    display: flex;
    gap: 1.5rem;
    font-family: 'Cinzel Decorative', serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
  }
  
  .navbar-link {
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.5s ease;
    font-weight: 400 !important;
    font-style: normal !important;
  }
  
  .navbar-link:hover {
    color: gray;
  }
  
  .navbar-link::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.5s ease;
  }
  
  .navbar-link:hover::after {
    width: 100%;
  }
  
  .account-dropdown {
    position: relative;
  }
  
  .account-dropdown-menu {
    position: absolute;
    top: 120%;
    right: 0;
    background: white;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 10;
    min-width: 200px;
  }
  
  .account-dropdown-menu button {
    width: 100%;
    text-align: left;
    padding: 0.8rem 1rem;
    background: transparent;
    border: none;
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .account-dropdown-menu button:hover {
    background: #f4f4f4;
  }
  
  .account-dropdown-menu button span {
    margin-left: 0.5rem;
  }
  