.dice-box-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border: 1px solid transparent;
  z-index: 9999;
  width: 70%;
  height: 70%;
}

#dice-box {
  width: 100%;
  height: 100%;
  background: transparent;
}

#dice-canvas {
  position: relative;
  width: 100%;
  height: 100%;
}
.main-button {
  background: var(--button-primary);
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400 !important;
}

.main-button:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  background: var(--button-primary-hover);
}
.dice-buttons {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.roll-dice-button {
  font-size: 50px;
  font-family: 'Cinzel Decorative', sans-serif;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background 0.3s ease;
}

#dice-type-dropdown,
#dice-count-dropdown {
  font-size: 12px !important;
}

.roll-dice-button:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.roll-dice-button:active {
  transform: scale(0.95);
}

.roll-results {
  position: fixed;
  left: -3%;
  bottom: 7%;
  align-items: start;
  display: flex;
  width: 100%;
}

.btn-button-clear {
  background: var(--button-danger);
  color: var(--button-danger-text);
  transition:
    transform 0.3s ease,
    background 0.3s ease;
}

.btn-button-clear:hover {
  background: var(--button-danger-hover);
  transform: scale(1.1);
}

.dice-result-modal .modal-content {
  background: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}

.dice-result-modal .modal-header {
  border-bottom: none;
  color: #f1b55d;
}

.dice-result-modal .modal-body {
  font-size: 1.2rem;
  text-align: center;
  padding: 2rem;
  border-radius: 8px;
}

.dice-result-modal .modal-footer {
  border-top: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn-clear-results {
  background: var(--button-danger);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  transition:
    transform 0.3s ease,
    background 0.3s ease;
}

.btn-clear-results:hover {
  background: var(--button-danger-hover);
  transform: scale(1.05);
}

.roll-result-text {
  font-size: 32px;
  font-weight: 600;
  font-family: 'Cinzel Decorative', sans-serif;
}

.btn-re-roll {
  background: var(--button-primary);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  transition:
    transform 0.3s ease,
    background 0.3s ease;
}

.btn-re-roll:hover {
  background: var(--button-primary-hover);
  transform: scale(1.05);
}
